[Unit]
After=network.target

[Service]
Type=simple
User={{ redis_user_name }}
WorkingDirectory={{ redis_user_home_directory }}
ExecStart={{ redis_server_binary_path }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
